{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<dir>
  <h3>Об авторе</h3>
</dir>
<dir>
  <dir>
    <dir>
      <dir>
        <dir>
          <dir>
            <h3>Всем, привет! Меня зовут, Сайф</h3>
            <a href="https://github.com/skyline8880">
              мой профиль на github
            </a>
          </dir>
        </dir>
      </dir>
    </dir>
  </dir>
</dir>
<dir>
  <dir>
    <p>
      Добро пожаловать!
    </p>
  </dir>
</dir>
<div>
  <dir>
    <p>
      Информация
    </p>
  </dir>
</div>
{% endblock %}